In [1]:
import os
os.environ["PGPASSWORD"] = "VgQ3AbFQ4yGVDC"

In [2]:
from database_functions import timebucket_values_from_database_sql, values_from_database_sql, sql_result_to_df, fill_missing_timesteps_with_nan
import pandas as pd

In [3]:
data = {
    "table": "austria_unigraz_01",
    "start_datetime": '2021-03-10 06:30:00',
    "end_datetime": '2021-03-14 23:30:00',
    "timebucket": "1m",
    "agg_function": "MAX"
}
# 1 version alle und liste.
# Todo: timezone pro instrument. Tageslänge pro lat/lon.

In [4]:
sql = timebucket_values_from_database_sql(
    **data,
)

In [5]:
df = sql_result_to_df(sql, datetime_col='datetime')
df = fill_missing_timesteps_with_nan(df)

In [6]:
df_T = df.T

In [7]:
df_T

,2021-03-10 06:30:00,2021-03-10 06:31:00,2021-03-10 06:32:00,2021-03-10 06:33:00,2021-03-10 06:34:00,2021-03-10 06:35:00,2021-03-10 06:36:00,2021-03-10 06:37:00,2021-03-10 06:38:00,2021-03-10 06:39:00,...,2021-03-14 16:50:00,2021-03-14 16:51:00,2021-03-14 16:52:00,2021-03-14 16:53:00,2021-03-14 16:54:00,2021-03-14 16:55:00,2021-03-14 16:56:00,2021-03-14 16:57:00,2021-03-14 16:58:00,2021-03-14 16:59:00
45,191.0,191.0,191.0,190.0,190.0,189.0,190.0,191.0,191.0,191.0,...,190.0,189.0,188.0,188.0,189.0,189.0,188.0,189.0,188.0,189.0
45.1879997253418,194.0,194.0,194.0,193.0,193.0,194.0,194.0,194.0,194.0,195.0,...,192.0,192.0,191.0,194.0,193.0,194.0,191.0,197.0,191.0,191.0
45.5,192.0,192.0,192.0,191.0,193.0,195.0,192.0,190.0,191.0,191.0,...,189.0,190.0,189.0,189.0,190.0,191.0,189.0,190.0,190.0,191.0
45.5629997253418,196.0,195.0,197.0,196.0,197.0,197.0,196.0,195.0,196.0,196.0,...,193.0,194.0,193.0,194.0,194.0,194.0,193.0,190.0,194.0,194.0
45.875,197.0,197.0,198.0,197.0,197.0,197.0,198.0,198.0,198.0,198.0,...,197.0,196.0,196.0,196.0,196.0,196.0,196.0,194.0,197.0,196.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80.125,220.0,220.0,220.0,220.0,220.0,220.0,220.0,220.0,220.0,220.0,...,219.0,219.0,219.0,219.0,219.0,220.0,219.0,220.0,219.0,219.0
80.375,223.0,223.0,223.0,223.0,223.0,223.0,223.0,224.0,224.0,223.0,...,223.0,223.0,223.0,222.0,223.0,223.0,223.0,223.0,223.0,223.0
80.56300354003906,185.0,185.0,185.0,187.0,185.0,186.0,185.0,185.0,185.0,185.0,...,185.0,185.0,184.0,183.0,183.0,184.0,183.0,182.0,185.0,187.0
80.75,177.0,177.0,177.0,184.0,178.0,177.0,176.0,176.0,176.0,177.0,...,174.0,175.0,175.0,175.0,176.0,174.0,175.0,174.0,175.0,176.0
80.875,184.0,183.0,183.0,186.0,184.0,183.0,182.0,183.0,183.0,184.0,...,185.0,185.0,185.0,184.0,185.0,185.0,185.0,185.0,185.0,185.0

In [8]:
from highcharts_core.chart import Chart
from highcharts_core.options.series.heatmap import HeatmapSeries
# Create a new Chart instance from the CSV file "my-csv-file.csv".
my_chart = HeatmapSeries.from_pandas(
    df,
    property_map=
    {
        'y': 'df_T.index',
        'x': df_T.index,
    },
)

HighchartsPandasDeserializationError: Unable to find a column labeled "df_T.index" in df.

In [9]:
from highcharts_core.chart import Chart
from highcharts_core.options import HighchartsOptions

In [10]:
options_as_str = """{

    colors: ['#293462', '#a64942', '#fe5f55', '#fff1c1', '#5bd1d7', '#ff502f', '#004d61', '#ff8a5c', '#fff591', '#f5587b', '#fad3cf', '#a696c8', '#5BE7C4', '#266A2E', '#593E1A'],

    title: {
        text: 'Main train connections in Europe'
    },

    accessibility: {
        description: 'Arc diagram chart with circles of different sizes along the X axis, and connections drawn as arcs between them. From the chart we can see that Paris is the city with the most connections to other cities.',
        point: {
            valueDescriptionFormat: 'Connection from {point.from} to {point.to}.'
        }
    },

    series: [{
        keys: ['from', 'to', 'weight'],
        type: 'arcdiagram',
        name: 'Train connections',
        linkWeight: 1,
        centeredLinks: true,
        dataLabels: {
            rotation: 90,
            y: 30,
            align: 'left',
            color: 'black'
        },
        offset: '65%',
        data: [
            ['Hamburg', 'Stuttgart', 1],
            ['Hamburg', 'Frankfurt', 1],
            ['Hamburg', 'München', 1],
            ['Hannover', 'Wien', 1],
            ['Hannover', 'München', 1],
            ['Berlin', 'Wien', 1],
            ['Berlin', 'München', 1],
            ['Berlin', 'Stuttgart', 1],
            ['Berlin', 'Frankfurt', 1],
            ['Berlin', 'Köln', 1],
            ['Berlin', 'Düsseldorf', 1],
            ['München', 'Düsseldorf', 1],
            ['München', 'Wien', 1],
            ['München', 'Frankfurt', 1],
            ['München', 'Köln', 1],
            ['München', 'Amsterdam', 1],
            ['Stuttgart', 'Wien', 1],
            ['Frankfurt', 'Wien', 1],
            ['Frankfurt', 'Amsterdam', 1],
            ['Frankfurt', 'Paris', 1],
            ['Frankfurt', 'Budapest', 1],
            ['Düsseldorf', 'Wien', 1],
            ['Düsseldorf', 'Hamburg', 1],
            ['Amsterdam', 'Paris', 1],
            ['Paris', 'Brest', 1],
            ['Paris', 'Nantes', 1],
            ['Paris', 'Bayonne', 1],
            ['Paris', 'Bordeaux', 1],
            ['Paris', 'Toulouse', 1],
            ['Paris', 'Montpellier', 1],
            ['Paris', 'Marseille', 1],
            ['Paris', 'Nice', 1],
            ['Paris', 'Milano', 1],
            ['Nantes', 'Nice', 1],
            ['Bordeaux', 'Lyon', 1],
            ['Nantes', 'Lyon', 1],
            ['Milano', 'München', 1],
            ['Milano', 'Roma', 1],
            ['Milano', 'Bari', 1],
            ['Milano', 'Napoli', 1],
            ['Milano', 'Brindisi', 1],
            ['Milano', 'Lamezia Terme', 1],
            ['Torino', 'Roma', 1],
            ['Venezia', 'Napoli', 1],
            ['Roma', 'Bari', 1],
            ['Roma', 'Catania', 1],
            ['Roma', 'Brindisi', 1],
            ['Catania', 'Milano', 1]
        ]
    }]

}"""
options = HighchartsOptions.from_js_literal(options_as_str)

In [11]:
chart = Chart.from_options(options)
chart.display()